.container{
    max-width:1000px;
    position:relative;
}
.container::before{
    content:"";
    background-image:url("bolygok.jpg");
    background-size:cover;
    opacity:0.5;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}
img{
    width:100px;
    height:100px;
}
h1,h3{
    color:black;
    text-align:center;
}
